<!-- Choose Section Start -->
<div id="facility" class="why-choose-us style2 gray-bg3 pt-100 pb-100 md-pt-70 md-pb-70">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 order-last">
                <div class="video-wrap md-mb-40">
                    <img src="assets/images/about/School.jpg" alt="">
                    <!-- <a class="popup-videos" href="https://www.youtube.com/watch?v=atMUy_bPoQI">
                        <i class="fa fa-play"></i>
                    </a> -->
                </div>
            </div>
            <div class="col-lg-8">
                <div class="sec-title2 mb-40">
                    <div class="sub-title">Open Round Starts From 29th June 2022 onwards.</div>
                    <h2 class="title purple-color">ADMISSION </h2>
                    <div class="desc pr-124 md-pr-15">
                    <a href="http://www.spuvvn.edu/students_corner/admissions/" target="_blank">Students can fill online form  on S P University's website.
                        For instructions and details kindly visit :</a>
                    </div>
                </div>
                <div class="facilities-two">
                    <div class="row">
                        <div class="col-lg-6 mb-40 md-mb-25 col-md-6 single-facility">
                            <div class="content-part">
                                <div class="icon-part">
                                    <!-- <img src="assets/images/icon.png" alt=""> -->
                                    <i class="flaticon-arrow"></i>
                                </div>
                                <div class="text-part">
                                    <h4 class="title"> <a href="http://www.cesociety.in/sanppgi/images/news/Contact%20Information.pdf" target="_blank">
                                        Department wise Contact Info.</a> </h4>
                                </div>
                            </div>
                            
                           
                            <div class="content-part">
                                <div class="icon-part">
                                    <i class="flaticon-arrow"></i>
                                    
                                </div>
                                <div class="text-part">
                                    <h4 class="title"> <a href="http://www.cesociety.in/sanppgi/images/news/bank%20details.pdf" target="_blank"> Bank Account Details</a></h4>
                                </div>
                            </div>
                            <div class="content-part">
                                <div class="icon-part">
                                    <i class="flaticon-arrow"></i>
                                </div>
                                <div class="text-part">
                                    <h4 class="title"> <a href="http://www.cesociety.in/(S(3e1jf2fkb2uq4nufewisd4wm))/sanppgi/images/news/Online%20Admission%20Prospectus%20(2)_.pdf" target="_blank">Online Admission Prospectus 2022 - 2023</a></h4>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 mb-40 md-mb-25 col-md-6 single-facility">
                           
                            <div class="content-part">
                                <div class="icon-part">
                                    <i class="flaticon-arrow"></i>
                                </div>
                                <div class="text-part">
                                    <h4 class="title"><a href="http://www.cesociety.in/sanppgi/images/news/Fee%20instruction_.pdf" target="_blank">Fee Instructions</a></h4>
                                </div>
                            </div>
                            <div class="content-part">
                                <div class="icon-part">
                                    <i class="flaticon-arrow"></i>
                                </div>
                                <div class="text-part">
                                    <h4 class="title"><a href="http://www.cesociety.in/sanppgi/images/news/Eligibility%20Criteria.pdf" target="_blank">  Eligibility Criteria</a></h4>
                                </div>
                            </div>
                            
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Choose Section End -->