<!-- About Section Start -->
<div class="rs-about style11 mt-100 pb-100 md-pb-70">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-12 md-mb-30 mt-30">
                <div class="img-part js-tilt">
                    <img src="{{daimg}}" alt="images">
                </div>
            </div>
            <div class="col-lg-6 pl-65 md-pl-15 col-md-12">
                <div class="sec-title2">
                    <div class="sub-title">
                        About us
                    </div>
                    <h2 class="title purple-color mb-30">
                        {{title}}
                    </h2>
                    <div class="bold-text mb-22"> {{subtitle}} </div>
                    <p class="desc mb-45">
                        {{textdata}}
                    </p>
                </div>
                <!-- <div class="btn-part">
                    <a class="readon purple-btn" routerLink="#">Read More</a>
                </div> -->
            </div>
        </div>
    </div>
</div>
<!-- About Section End -->

