<section class="servicesHome">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4">
                <div class="servicesHome-box">



                    <h2>Message From From Principal's desk</h2>
                    <h5>Dr. Sejal Christian
                        <br>
                        <span>- Principal,</span>
                    </h5>
                    <p>Education is the most powerful weapon which you can use to change the world.</p>
                    <!-- <a href="VCMsg.aspx?id=10037" class="btn btn-sm btn-outline-white mb-0">Read More</a> -->

                </div>
            </div>

            <div class="col-md-4">
                <div class="video-section">
                    <div class="video-content">
                        <img src="assets/images/vc.jpg" alt="">
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="servicesHome-box">
                    <!-- <h2>VC Auction for Gift/ Mementos</h2> -->
                    <p>Charotar Education Society is one of the oldest and leading education organizations of this area.
                        Shri D.N. Institute of Post Graduate Studies in Commerce is the Institute which established to
                        render education to the student with life value. The aim of the institute is not only make
                        students highly educated but to make them aware regarding current trends of job market and make
                        them ready for recent Job requirement. From the beginning institute focused on to import soft
                        skill to students.</p>
                    <p>Academic excellence is not only objective of the Institute but to enrich students with various
                        life skill which can help them not only for job but for any span of life. At present Institute
                        provides 3 courses M.Com, PGDMM and Ph.D.
                    </p>
                    <!--<a href="http://vcgift.gtu.ac.in/" target="_blank" class="btn btn-sm btn-outline-white mb-0">Go to Portal</a>-->
                    <!-- <a href="http://www.test.gtu.ac.in/VC1/" target="_blank"
                        class="btn btn-sm btn-outline-white mb-0">Go to Portal</a> -->
                </div>
            </div>
        </div>
    </div>
</section>